body {
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#openCamera {
  background-color: #ff5f6d;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#openCamera:hover {
  background-color: #ffc371;
  transform: scale(1.05);
}
