body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #000;
  text-align: center;
}

header {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 5;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #00bcd4;
}

header p {
  font-size: 1em;
  color: #ccc;
}
